<h1>New Booking:</h1>



<%= simple_form_for [@car, @booking] do |f| %>
  <%= f.input :date_from, as: :string, input_html: { type: :date } %>
  <%= f.input :date_to, as: :string, input_html: { type: :date } %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>
<br>
<br>
<%= link_to "Cancel", car_path(@car), class: 'btn btn-outline-danger' %>
