
<h1 style="color: #f73c2c;">Leave Feedback</h1>


<%= simple_form_for [@booking, @feedback] do |f| %>
  <%= f.input :rating, label: "Rating", collection: 1..5, prompt: "Select a rating" %>
  <%= f.input :content, label: "Feedback" %>
  <%= f.button :submit, "Submit Feedback", class: 'btn btn-primary' %>
<% end %>
<br>
<br>
<%= link_to 'Cancel', bookings_path, class: 'btn btn-outline-danger' %>
