<h2>Cars:</h2>

<div class="row">
  <% @cars.each do |car| %>
    <div class="col-md-6 mb-4">
      <div class="card h-55">
        <%= image_tag(car.image_url, crop: :fill, width: 800, height: 600, gravity: :center, class: "card-img-top") if car.image_url.present? %>
        <div class="card-body">
          <h5 class="card-title"><%= car.name %></h5>
          <p class="card-text"><strong>Fuel:</strong> <%= car.fuel %></p>
          <p class="card-text"><strong>Make:</strong> <%= car.make %></p>
          <p class="card-text"><strong>Seats:</strong> <%= car.seats %></p>
          <%= link_to 'View', car_path(car), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Car', new_car_path, class: 'btn btn-success' %>

<style>
.card {
  width: 100%; /* adjust the width to your liking */
}
</style>
